<table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>No</th>
      <!-- <th>Coin quantity</th>
      <th>Coin Name</th>
      <th>Price</th> -->
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
<!-- <% for(let i = 0; i < voucher.length; i++){ %>
    <tr>
      
      <td>
        <form action="/nominal/delete/<%= voucher[i]._id %>?_method=DELETE" method="post">
        <a href="/nominal/edit/<%= voucher[i]._id %>" class="btn btn-warning">
          <i class="fas fa-pencil-alt"></i>
          Ubah
        </a>
        <button class="btn btn-danger">
          <i class="fas fa-trash-o"></i>
          Hapus
        </button>
      </form>
      </td>
    </tr>
    <% } %> -->
    </tfoot>
  </table>